body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Lightbox/Modal for Attachments */
.str-chat__modal-image__wrapper {
	line-height: 0;
	position: relative;
	text-align: center;
	box-sizing: border-box;
}

.str-chat__modal-image__image {
	max-height: 100vh;
	max-width: 100%;
}